<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        window.jQuery || 
        document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')
    </script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>

    {% if title %}
    <title>{{title}} - Schedulee</title>
    {% else %}
    <title>Schedulee</title>
    {% endif %}

  </head>
  <body>
    <header>
        <h1 style="margin-left: 15px">{{ title }}</h1>
        <hr/>
        {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}
  </body>
</html>
