{% extends "base.html" %}
{% block header %}

<form enctype='text/plain' action="/lessons/create/{{ group.id }}" method="get" class="form-inline">
	<input type="submit" value="Add Lesson" class="btn btn-primary" style="margin-left: 20px">
</form>
<hr/>

{% endblock %}
{% block content %}

<div class="container-fluid">
	<table class="table table-hover">
		<tr>
			<th>Title</th>
			<th>Room</th>
			<th>Lector</th>
			<th>Day</th>
			<th>Week</th>
			<th>Position</th>
		</tr>
	{% for lesson in lessons %}
	{% for item in lesson.info %}
		<tr>
			<td>{{ lesson.title }}</td>
			<td>{{ item.room }}</td>
			<td>{{ lesson.lector.lastname }} {{ lesson.lector.firstname }} {{ lesson.lector.sorname }}</td>
			<td>{{ reverseDays[item.day_of_week] }}</td>
			<td>{{ item.week_number }}</td>
			<td>{{ item.position }}</td>
    	</tr>
	{% endfor %}
	{% endfor %}
	</table>
</div>

{% endblock %}